In [208]:
import pandas as pd
from matplotlib import pyplot as plt

In [27]:
pd.options.display.max_colwidth = 50

In [205]:
results = pd.read_csv("results.csv")
results = results.rename(columns = {'movie_or_TV_name' : 'name'})
results.head()

           actor                                               name
0    Owen Wilson  Haunted Mansion,Secret Headquarters,Paint,Marr...
1     Craig Good               White Rabbit,Has Been,Cars,Toy Story
2      Brian Fee                                         Tracy,Cars
3   Kathy Coates                                               Cars
4  Teresa Ganzel  The Push,Home Economics,A Beauty & The Beast C...

In [151]:
results.size

172

In [199]:
def get_sorted_df(df):
    df['name'] = df[['name']].apply(lambda x: x.str.split(','))
    
    counts = {}
    for index, row in df.iterrows():
        for name in row['name']:
            if name in counts:
                counts.update({name: counts[name] + 1})
            else:
                counts.update({name: 1})
                
                
    sorted_keys = sorted(counts, key = counts.get, reverse = True)
    sorted_counts = {}
    for name in sorted_keys:
        sorted_counts[name] = counts[name]
        
    return pd.DataFrame({'name' : sorted_counts.keys(),
                        'number of shared actors' : sorted_counts.values()})

In [206]:
sorted_df = get_sorted_df(results)

In [203]:
sorted_df.head(10)

                          name  number of shared actors
0                         Cars                      110
1                 A Bug's Life                       25
2          Monsters University                       24
3                Monsters Inc.                       23
4           Mater's Tall Tales                       23
5                  Toy Story 3                       20
6                       Cars 3                       19
7  Tales from Radiator Springs                       17
8                       Cars 2                       17
9                       WALL·E                       17